@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row p-4 container-transp">
    <div class="col-md-6">
        <p>As informações pessoais que você nos forneceu estão registradas em sua conta. Esta pagina permite que você baixe ou apague estas informações</p>
        <p>
            <strong>Apagar estas informações vai remover sua conta permanentemente, e isso não pode ser desfeito.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <div class="m-4 p-4 container-transp">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Apagar</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
