@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-2 auth">
            <a href="">Home</a>
            <LoginDisplay />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
