#alimento-form-cont {
    backdrop-filter: brightness(0.9);
    padding: 0.8em;
}

#busca-alimento-resultados {
    max-height: 30vh;
    overflow-y: scroll;
    padding: 2em 1em;
    border: 2px solid white;
}

.busca-alimento-unidade {
    margin: 0.4em 0;
    display: flex;
    padding: 0.4em 0;
    align-items: center;
    background-color: white;
}

.busca-alimento-unidade p {
    margin: 0 1em;
}

.add-alimento-conf {
    margin: 0 4em;
}