@using diarioAlimentar.Shared;

<div>
    <p>@porcao.alimento.AlimentoID</p>
    <h3>@porcao.alimento.nome</h3>
    <p>Quantidade: @porcao.quantidade</p>
</div>

@code {
    [Parameter]
    public Porcao porcao { get; set; }


}
