@using diarioAlimentar.Client.Services;

@inject AlimentoService alimentoController

<h3>AlimentoForm</h3>

<div>
    <InputText id="busca" @bind-Value="alimentoInput" />
    <button type="button">Procurar</button>
</div>
<p>@nome</p>
@code {
    private string alimentoInput { get; set; } = "";
    private string nome { get; set; } = "nome";
    private async Task buscarAlimento()
    {
        var al = await alimentoController.GetAlimento(1);
        nome = al.nome;
        Console.WriteLine(nome);
    }
}
