@page "/diario"
@using Timer = System.Timers.Timer;
@using diarioAlimentar.Client.Services;
@using diarioAlimentar.Shared

@*
<AuthorizeView>
    <Authorized>
        <p>@context.User.Identity?.Name!</p>
        <p>save</p>
    </Authorized>
    <NotAuthorized>
        <p>no save</p>
    </NotAuthorized>
</AuthorizeView>
*@

<h3>Diario</h3>
<div>
    energia / macro / nutri
    @foreach (var alm in refeicaoAtual.alimentos)
    {
        <AlimentoView porcao=alm />
    }
</div>

<AddAlimentoForm refSetter=@refeicaoSetter />

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private Diario diarioAtual { get; set; }
    private Refeicao refeicaoAtual { get; set; }

    private InfoNutricional relatorio { get; set; }
    private Action<Porcao> refeicaoSetter { get; set; }

    public DiarioView()
    {
        refeicaoSetter = setItemRefeicao;
        diarioAtual = new();
        refeicaoAtual = new Refeicao(Periodo.Lanche);
    }

    private string user;
    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        user = authState.User.Identity.Name;
    }

    private void setItemRefeicao(Porcao a)
    {
        refeicaoAtual.alimentos.Add(a);
        relatorio = refeicaoAtual.GerarRelatorio();
        StateHasChanged();
    }


}