.porcao_view {
    margin: 0.4em;
    color: white;
}

.porcao_container {
    display: flex;
    align-items: center;
    background-color: var(--dark-bg);
}

p {
    margin: 0.4em 0.8em;
}

.alimento_nome {
    font-size: 1.2em;
}

@media only screen and (max-width: 900px) {
    .alimento_btn {
        flex-direction:column;
        margin: 0;
    }
}

button span {
    margin: 0.4em;
    font-family: 'Nunito', sans-serif;
}

.alimento_btn {
    display: flex;
    margin-left: auto;
}