.porcao-view {
    margin: 0.4em;
    color: white;
}

.porcao-detalhes {
    padding: 1em;
    color: white;
    border: 4px solid white;
    background-color: var(--light-bg);
}

table {
    color: white;
}

.porcao-container {
    display: flex;
    align-items: center;
    background-color: var(--light-bg);
}

.porcao-container-at {
    background-color: var(--dark-bg);
}

p {
    margin: 0.4em 0.8em;
}

.alimento-nome {
    font-size: 1.2em;
}

@media only screen and (max-width: 900px) {
    .alimento-btn {
        flex-direction:column;
        margin: 0;
    }
}

button span {
    margin: 0.4em;
    font-family: 'Nunito', sans-serif;
}

.alimento-btn {
    display: flex;
    margin-left: auto;
}