@using diarioAlimentar.Client.Services;
@using diarioAlimentar.Shared;
@inject PorcaoService _porcaoService;
@inject RefeicaoService _refeicaoService;

@foreach (var refPeriodo in listaLocal)
{
    <div id="refeicoes-container">
        <h3><div class="oi oi-book mx-2"></div>@refPeriodo.Key.GetEnumDisplay()</h3>
        <div>
            @foreach (var refGravada in refPeriodo)
            {
                @if (refeicaoAtiva == null) refeicaoAtiva = refGravada;

                <div @onclick=@(() => refeicaoAtiva = refGravada) class="p-2 @(refeicaoAtiva == refGravada ? "ref-ativa" : "")">
                    <div>
                        <div class="d-flex justify-content-between">
                            <p>Horário: @refGravada.horario.ToShortTimeString()</p>
                            <button class="btn-diario-ct-alt oi oi-trash" @onclick=@(() => confirmarRemocao = !confirmarRemocao)></button>
                        </div>
                        @if (confirmarRemocao)
                        {
                            <div>
                                <p>Tem certeza que deseja remover essa refeição e todos os alimentos registrados?</p>
                                <button class="btn-diario-ct-alt" @onclick=@(async () => 
                                    {
                                        await _refeicaoService.RemoveRefeicao(refGravada);
                                        StateHasChanged();
                                    })>Sim</button>
                                <button class="btn-diario-ct-alt" @onclick=@(() => confirmarRemocao = !confirmarRemocao)>Não</button>
                            </div>
                        }
                        <h4>Alimentos: </h4>
                        @foreach (var p in refGravada.Porcoes)
                        {
                            <PorcaoView porcao=p ativa=@(refeicaoAtiva == refGravada) callbackDelete=@(async (p) => await RemoverPorcao(p)) />
                        }
                    </div>
                    @if (refeicaoAtiva == refGravada)
                    {
                        <AddAlimento refeicao=@refeicaoAtiva callbackAtualizar=@callbackAtualizar/>
                    }


                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public ICollection<Refeicao> refeicoes { get; set; }

    [Parameter]
    public Action callbackAtualizar { get; set; }

    private IEnumerable<IGrouping<Periodo, Refeicao>> listaLocal { get; set; }

    public Refeicao? refeicaoAtiva { get; set; } = null;
    private bool confirmarRemocao { get; set; } = false;

    protected override void OnParametersSet()
    {
        listaLocal = refeicoes.OrderBy(r => r.horario).GroupBy(r => r.periodo);
        base.OnParametersSet();
    }

    public async Task RemoverPorcao(Porcao p)
    {
        var resultado = await _porcaoService.RemovePorcao(p);
        if (resultado)
        {
            refeicoes.First(r => r.refeicaoID == p.refeicaoID).Porcoes.Remove(p);
            callbackAtualizar();
        }
    }
}
